.container {
    display: flex;
    padding: 300px 32px 32px 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    background-image: url("src/assets/contact/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    width: 1376px;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}

.topContainer {
    display: flex;
    height: 440px;
    padding: 0 128px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: var(--Corner-radius-Large, 32px);
    background: #F7F9FF;
}

.leftContainer {
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.subtitle {
    color: #424A4E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.6px;
}

.title {
    color: #2F3031;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
}

.buttonsContainer {
    display: flex;
    gap: var(--Spacing---Size-Space---120)
}

.rightContainer {
    display: flex;
    width: calc(50% - 140px);
}

.rightContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.linksContainer {
    display: flex;
    padding-left: 32px;
    align-items: flex-start;
    gap: var(--Spacing---Section-Padding-Large, 120px);
}

.linkColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing---Size-Space---240);
}

.subject, .link {
    color: var(--M3-sys-light-primary, #30628C);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

.link {
    font-weight: 400;
}

.footersContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: var(--Spacing---Size-Space---40, 4px);
    align-self: stretch;
}

.footersContainer footer {
    color: var(--M3-sys-light-on-surface-variant, #42474E);

    font-size: 14px;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    text-transform: uppercase;
}