.container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: var(--Spacing---Size-Space---320);
    position: relative;
}

.closeIcon {
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    transform: rotate(-45deg);
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: var(--Spacing---Size-Space---160);
}

.largeImg {
    display: flex;
    width: 100%;
    flex: 14;
    border-radius: 10px;
    overflow: hidden;
}

.largeImg img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.smallImgContainer {
    display: flex;
    width: 100%;
    flex: 1;
    border-radius: 10px;
    gap: var(--Spacing---Size-Space---120);
}

.smallImg {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.infoContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--Spacing---Size-Space---120);
}

.infoContainer:first-child {
    margin-top: var(--Spacing---Size-Space---320);
}

.infoContainer:last-child {
    color: var(--M3-sys-light-on-surface-variant, #42474E);
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: 1.08px;
}

.infoContainer:last-child strong {
    font-weight: 700;
}