.qAndAContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(var(--M3-sys-light-outline), 0.3);
    border-left: none;
    border-right: none;
}

.questionContainer {
    display: flex;
    width: 736px;
    height: var(--Spacing---Size-Space---480, 48px);
    justify-content: space-between;
    align-items: center;
}

.question {
    color: var(--M3-sys-light-on-surface, #181C20);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; /* 140% */
}

.iconContainer {
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.icon {
    transform: rotate(0);
    transition: transform 0.5s ease-in;
}

.icon:hover {
    cursor: pointer;
}

.iconCollapsed {
    transition: transform 0.5s ease-out;
    transform: rotate(-45deg);
}

.answerContainerCollapsed {
    font-size: 18px;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.answerContainer {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.5s ease-in;
    font-size: 18px;
    box-sizing: border-box;
}

.answer {
    color: var(--M3-sys-light-on-surface-variant, #42474E);
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: 1.08px;
}

.answer strong {
    color: var(--M3-sys-light-on-surface-variant, #42474E);
    font-weight: 700;
}
