@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "Inter", sans-serif;
  --M3-label-large: 14px;
  --text-logo: 12px;
}

/**
  Color variables
 */
* {
  --color-logo: black;
  --color-fill: #595959;
  --M3-key-colors-primary: #0997EB;
  --M3-ref-secondary-secondary95: #DCF5FF;
  --M3-ref-tertiary-tertiary95: #FFEFD1;
  --M3-sys-light-outline: #72777F;
  --M3-sys-light-primary: #30628C;
  --M3-sys-light-surface: #F7F9FF;
  --M3-sys-light-on-primary: white;
  --M3-sys-light-on-surface: #181C20;
  --M3-sys-light-on-secondary-container: #001F27;
  --M3-sys-light-on-surface-variant: #42474E;
  --M3-sys-light-surface-container-highest: #FCFCFF;
  --Main-goten: white;
  --Schemes-Surface: #F7F9FF;
  --Schemes-Secondary-Container: #B4EBFF;
  --Schemes-Tertiary-Container: #FFDF96;
  --Shade-Color-700: #6D7173;
  --m-3-state-layers-light-primary-opacity-012: rgba(48, 98, 140, 0.12)
}

/**
  Spacing variables (gap, padding...)
 */
* {
  --Spacing---Section-Padding-Medium: 100px;
  --Spacing---Section-Padding-Large: 120px;
  --Spacing---Size-Space---0: 0;
  --Spacing---Size-Space---40: 4px;
  --Spacing---Size-Space---120: 12px;
  --Spacing---Size-Space---160: 16px;
  --Spacing---Size-Space---240: 24px;
  --Spacing---Size-Space---320: 32px;
  --Spacing---Size-Space---480: 48px;
  --Spacing---Size-Space---640: 64px;
}

/**
  Corner radius variables
 */
* {
  --Corner-radius-Small: 12px;
  --Corner-radius-Large: 32px;
}

.wrapper {
  position: relative;
  background-color: #F5F7FA;
}

.app {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15)) drop-shadow(0px 11px 17.1px rgba(0, 82, 128, 0.08));
}

.background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background svg {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 390px){

}