.container {
    display: flex;
    width: 1120px;
    align-items: center;
    justify-content: center;
    gap: var(--Spacing---Size-Space---320);
    background-color: transparent;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 544px;
    gap: var(--Spacing---Size-Space---240);
}

.textContainer {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    gap: var(--Spacing---Size-Space---80);
}

.title {
    color: var(--M3-sys-light-on-surface);
    font-size: 4em;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
}

.subtitle {
    color: var(--Shade-Color-700);
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

.rightContainer {
    display: flex;
    width: 50%;
}

.rightContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
  display for mobile (390px)
  only "Contact us" button is shown
 */
@media only screen and (max-width: 390px) {
    .button:not(:last-child) {
        display: none;
    }
}
