.container {
    /*background-color: var(--M3-sys-light-surface);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.cardsContainer {
    display: flex;
}