.container {
    display: flex;
    width: 1440px;
    height: 640px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-image: url("src/assets/Lessons/lessonHero/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contentsContainer {
    display: flex;
    width: 736px;
    height: 208px;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing---Size-Space---240, 24px);
    flex-shrink: 0;
}

.rectangle {
    width: 408px;
    height: 73px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 4px;
    opacity: 0.4;
    background: linear-gradient(90deg, #0095E9 0%, rgba(0, 149, 233, 0.00) 100%);
    z-index: 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    z-index: 2;
}

.title {
    color: var(--M3-sys-light-on-surface, #181C20);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
}

.subtitle {
    color: var(--Shade-Color-700, #6D7173);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

.searchBarContainer {
    display: flex;
    width: 360px;
    height: var(--Spacing---Size-Space---560, 56px);
    min-width: 360px;
    max-width: 720px;
    align-items: center;
    gap: 4px;
    border-radius: 28px;
    background: var(--M3-sys-light-surface-container-high, #F1F3F9);
}

@media only screen and(max-width: 390px) {
    .container {
        display: flex;
        width: 100%;
        height: 600px;
        padding: 219px 24px 177px 24px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .contentsContainer {
        display: flex;
        width: 342px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        align-self: stretch;
    }

    .title {
        color: var(--M3-sys-light-on-surface, #181C20);
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 180% */
    }

    .subtitle {
        color: var(--Shade-Color-700, #6D7173);

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.25px;
    }

    .searchBarContainer {
        display: flex;
        height: var(--Spacing---Size-Space---560, 56px);
        min-width: 360px;
        max-width: 720px;
        align-items: center;
        gap: 4px;
        align-self: stretch;
    }
}