.navbar {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 120px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    border-radius: 99px;
}

.logo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 8px;
}

.logo img {
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.buttons {
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 99px;
    background: rgba(247, 249, 255, 0.90);
    box-shadow: 2px 4px 11px 0 rgba(45, 49, 53, 0.08);
    backdrop-filter: blur(2px);
}

.link {
    text-decoration: none;
}

.link:last-child {
    margin-right: 0;
    border-radius: 100px;
    border: 1px solid var(--M3-sys-light-outline, #72777F);
}

.button {
    display: flex;
    height: 40px;
    min-width: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    font-size: var(--M3-label-large);
    font-weight: 500;
    line-height: 20px;
    color: var(--M3-sys-light-primary);
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    background: var(--m-3-state-layers-light-primary-opacity-012);
}

/*
  display for mobile (390px)
  only "Contact us" button is shown
 */
@media only screen and (max-width: 390px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 16px;
        width: 358px;
        border-radius: 48px;
        background: #FFF;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.06);
    }
    .button:not(:last-child) {
        display: none;
    }
}