.container {
    width: 100%;
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}

.iconContainer {
    display: flex;
    border-radius: 50%;
    background-color: transparent;
    padding: var(--Spacing---Size-Space---80);
}

.iconContainer:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

form {
    width: 100%;
    gap: 10px;
}

input {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--M3-sys-light-on-surface-variant, #42474E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}

input:focus {
    outline: none;
}