.button, .disableButton {
    height: 48px;
    min-width: 160px;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px 10px 16px;
    border-radius: var(--Spacing---Section-Padding-Medium, 100px);
    background: var(--M3-key-colors-primary, #0997EB);
    border: none;
    color: var(--M3-sys-light-on-primary);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    /*box-shadow: 0 -1px 8px -2px var(--Schemes-Secondary-Container, #B4EBFF), 0 1px 32px 4px var(--Schemes-Inverse-Primary, #9CCBFB);*/
    transition: box-shadow 300ms ease-out;
}

.disabledButton {
    height: 48px;
    min-width: 160px;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px 10px 16px;
    border-radius: 100px;
    background: rgba(128,128,128, 20%);
    border: none;
    color: var(--M3-sys-light-on-surface-variant);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

/* Not sure */
.button:hover {
    cursor: pointer;
    box-shadow: 0 -1px 0 -2px var(--Schemes-Secondary-Container, #B4EBFF), 0 1px 8px 3px var(--Schemes-Inverse-Primary, #9CCBFB);
    transition: box-shadow 300ms ease-out;
}

.contents {
    color: var(--M3-sys-light-on-primary);
    display: flex;
    justify-content: center;
    gap: 8px;
}
