.container {
    display: flex;
    width: 50%;
    position: relative;
}

.input {
    height: 24px;
    width: 100%;
    padding: 12px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 18px;
}

.input:focus + .label {
    border-color: var(--M3-sys-light-primary, #30628C);
    color: var(--M3-sys-light-primary, #30628C);
}

.label {
    background-color: #F7F9FF;
    position: absolute;
    top: -8px;
    left: 12px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}